<div class="{{ player.name|lower }}-container">
    <div class="{{ player.name|lower }}-head">
        <p class="underline">{{ player.name }}</p>
        <p class="smaller"> ${{ player.chips }}</p>
    </div>
    <div class="proj-card-{{ player.name|lower }}-container">
        {% for card in player.hand %}
            <img class="hand-card" src="{{ asset('images/proj/cards/' ~ card. ~ '.png') }}">
        {% endfor %}
    </div>
</div>