{% extends 'base.html.twig' %}

{% block title %}Draw Cards{% endblock %}

{% block body %}
    <h1>Draw Cards</h1>
    {{ form_start(form) }}
        {{ form_label(form.count) }}
        {{ form_widget(form.count) }}
        {{ form_errors(form.count) }}
        {{ form_row(form._token) }}
        {{ form_widget(form.draw) }}
    {{ form_end(form) }}
{% endblock %}
