{% extends 'base.html.twig' %}

{% block title %}Card Game{% endblock %}

{% block body %}
<div class="game-container">
<h1>Blackjack</h1>
<div class="last-round">
<h2>Last round winner: {{ game.winner }}</h2>
<h2>Player score last round: {{ game.getGameScore.getLastPlayerScore }}</h2>
<h2>Dealer score last round: {{ game.getGameScore.getLastDealerScore }}</h2>
</div>
<h2>Cards left in deck: {{ game.getDeck.getCards|length }}</h2>
<div class="dealer-info">
<h2>Dealer: {{ game.getGameScore.getDealerScore }}</h2>
<!-- Display dealer cards -->
<div class="card-row">
{% for card in game.getDealer.getHand.getCards %}
    <span class="card{% if card.getSuit() in ['♥', '♦'] %} red{% endif %}">{{ card }}</span>
{% endfor %}
</div>
</div>
<div class="player-info">
<h2>Player: {{ game.getGameScore.getPlayerScore }}</h2>
<!-- Display player cards -->
<div class="card-row">
{% for card in game.getPlayer.getHand.getCards %}
    <span class="card{% if card.getSuit() in ['♥', '♦'] %} red{% endif %}">{{ card }}</span>
{% endfor %}
</div>
</div>
<!-- Game control buttons -->

{% if game.isGameOver %}
    <h2>Game over</h2>
    <h2>Winner: {{ game.winner }}</h2>
    <div class="game-control">
    <a href="{{ path('game_blackjack_action', { 'action': 'next' }) }}">Next round</a>
{% else %}
<div class="game-control">
    <a href="{{ path('game_blackjack_action', { 'action': 'hit' }) }}">Hit</a>
    <a href="{{ path('game_blackjack_action', { 'action': 'stand' }) }}">Stand</a>
{% endif %}
</div>


<a href="{{ path('game_blackjack_action', { 'action': 'reset' }) }}">Reset the game</a> <!-- Starts the game -->

</div>
{% endblock %}
