<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body class="proj-body">
    <div class="proj-page-container">
        <header id="proj-header" class="proj-header" style="background-image: url({{ asset('images/proj-header.png') }})">
            <div class="proj-header-overlay"></div>
                <p class="proj-header-heading">Texas Hold'em</p>
            </div>
            <nav>
                <ul>
                    <li><a href="{{ path('home') }}">Back to main page for course</a></li>
                    <li><a href="{{ path('project') }}">Home</a></li>
                    <li><a href="{{ path('proj_clear_session') }}">Clear Session</a></li>
                </ul>
            </nav>
        </header>
        <main class="projmain">
        {% block main %}{% endblock %}
        </main>
        <footer class="projfooter">
            <div class="no-money">
                <p class="proj-footer-text">Behöver du hjälp för att sluta spela?</p>
            </div>
            <div class="footer-addiction">
                <a href="https://spelberoende.se/" class="proj-footer-text small">Klicka här</a>
            </div>
        </footer>
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </div>
</body>
</html>
